@media screen and (max-width: 500px) {
    .footer{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

@media screen and (max-width: 400px) {
    .copyright{
        grid-template-columns: 1fr;
    }
    .footer{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media screen and (max-width: 320px) {
    .address_contact{
        flex-direction: column;
    }
}